[run]
source = .
omit =
    */migrations/*
    */tests.py
    manage.py
    */wsgi.py
    */asgi.py
    setup.py
    */venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abc.abstractmethod
    @abstractmethod

[html]
directory = htmlcov
